html
head
    base(href="/")
    title Angular TypeScript App/title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="Angular 4")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

    link(href="/styles/dist/styles.css" rel="stylesheet")
    link(href="/lib/@angular/material/prebuilt-themes/indigo-pink.css" type="text/css" rel="stylesheet")
    
    script(src="/lib/shim.min.js")
    script(src="/lib/zone.js")
    script(src="/lib/hammer.min.js")
    script(src="/lib/system.src.js")
    script(src="/systemjs.config.js")
    script.
      System.import('app/system-config.js').then(function () {
        System.import('app/main');
      }).catch(console.error.bind(console));
head
body
  main.container
    app-container
      section.loaders
        span.loader.loader-circles
        span Loading application...
