<div class="table-container mat-elevation-z8">
  <cdk-table #table [dataSource]="dataSource" mdSort>
    <ng-container *ngFor="let column of options.schema.columns">-->
      <ng-container cdkColumnDef="{{ column.id }}">
        <cdk-header-cell *cdkHeaderCellDef class="table-header-cell" md-sort-header> {{column.name}} </cdk-header-cell>
        <cdk-cell *cdkCellDef="let row" class="table-cell"> {{row[column.id]}} </cdk-cell>
      </ng-container>
    </ng-container>

    <cdk-header-row *cdkHeaderRowDef="options.schema.columnsFlatten" class="table-header-row"></cdk-header-row>
    <cdk-row *cdkRowDef="let row; columns: options.schema.columnsFlatten" class="table-row"></cdk-row>
  </cdk-table>

  <md-paginator #paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = $event">
  </md-paginator>
</div>
