<div class="table-container mat-elevation-z8">
  <cdk-table #table [dataSource]="dataSource" mdSort>
    <ng-container cdkColumnDef="id">
      <cdk-header-cell *cdkHeaderCellDef class="table-header-cell" md-sort-header> id </cdk-header-cell>
      <cdk-cell *cdkCellDef="let row" class="table-cell"> {{row.id}} </cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="username">
      <cdk-header-cell *cdkHeaderCellDef class="table-header-cell" md-sort-header> User name </cdk-header-cell>
      <cdk-cell *cdkCellDef="let row" class="table-cell"> {{row.username}} </cdk-cell>
    </ng-container>

    <cdk-header-row *cdkHeaderRowDef="['id', 'username']" class="table-header-row"></cdk-header-row>
    <cdk-row *cdkRowDef="let row; columns: ['id', 'username']" class="table-row"></cdk-row>
  </cdk-table>
  <md-paginator #paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = $event">
  </md-paginator>
</div>
