// $Var
$background: #fff;

/* Structure */
.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  background-color: $background;
}

/*
 * Styles to make the demo's cdk-table match the material design spec
 * https://material.io/guidelines/components/data-tables.html
 */
.table-table {
  flex: 1 1 auto;
  overflow: auto;
}

.table-header-row, .table-row {
  display: flex;
  border-bottom: 1px solid #ccc;
  align-items: center;
  height: 32px;
  padding: 0 8px;
}

.table-cell, .table-header-cell {
  flex: 1;
}

.table-header-cell, .mat-sort-header-button{
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.mat-sort-header-button{
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.table-cell {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
}
