<app-header>
</app-header>
<alert></alert>

<div style="margin-top: 90px;">
  <div class='centered' style='margin: auto; width: 50%; margin-top: 6%;'>
    <md-card>
      <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <i class='material-icons' style='text-align: center;font-size:5em;margin-top:0.25em;margin-bottom:0.25em;'>account_circle</i>
        <md-form-field #usernameControl>
          <input name='username' mdInput placeholder="Username" value="" [(ngModel)]="model.username" #username="ngModel" required>
          <md-error *ngIf='error.username'>
            Invalid username
          </md-error>
        </md-form-field>
        <md-form-field #passwdControl>
          <input type='password' name='password' mdInput placeholder="Password" value="" [(ngModel)]="model.password" #password="ngModel" required>
          <md-error *ngIf='error.password'>
            Invalid password
          </md-error>
        </md-form-field>
        <button md-button>login</button>
      </form>
    </md-card>
  </div>
</div>
