<app-header>
</app-header>

<alert></alert>

<div>
  <app-table [options]="{
    schema: {
      columnsFlatten: ['id', 'name'],
      columns: [
        {
          id: 'id',
          name: 'ID'
        },
        {
          id: 'name',
          name: 'Name'
        }
      ]
    }
  }" service="/api/groups" val="value">
  </app-table>
</div>
<div style='margin-top: 20px;'>
  <app-table [options]="{
    schema: {
      columnsFlatten: ['id', 'username', 'password'],
      columns: [
        {
          id: 'id',
          name: 'ID'
        },
        {
          id: 'username',
          name: 'User'
        },
        {
          id: 'password',
          name: 'secret'
        }
      ]
    }
  }" service="/api/users" val="value">
  </app-table>


</div>
